{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block content %}
    <h1 class="text-center">Информация о клиенте</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a href="{{ path('admin_clients') }}" class="btn btn-link">&#x276E;&#x276E; Вернуться на страницу клиентов</a>

            {% if client %}
                <div class="row client-show__info-box">
                    <div class="col-sm-12 text-right client-show__info-box__image">
                        {% if client.info.image %}
                            <img src="{{ asset('uploads/images/' ~ client.info.image) }}" style="height:300px;">
                        {% else %}
                            <span class="glyphicon glyphicon-user"></span>
                        {% endif %}
                    </div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Э-почта:</div>
                    <div class="col-sm-8 text-right">{{ client.email }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Телефон:</div>
                    <div class="col-sm-8 text-right">{{ client.info.phone }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Ф.И.О.:</div>
                    <div class="col-sm-8 text-right">{{ client.info.fullname }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Дата рождения:</div>
                    <div class="col-sm-8 text-right">{{ client.info.birthday|date("m-d-Y") }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Пол:</div>
                    <div class="col-sm-8 text-right">{{ client.info.gender == 'male' ? 'мужчина' : 'женщина' }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Аккаунт подтвержден:</div>
                    <div class="col-sm-8 text-right">{{ client.emailConfirmed ? 'Да' : 'Нет' }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Действующий:</div>
                    <div class="col-sm-8 text-right">{{ client.isActive ? 'Да' : 'Нет' }}</div>
                </div>
                <div class="row client-show__info-box">
                    <div class="col-sm-4 text-left client-show__info-box__label">Добавлен:</div>
                    <div class="col-sm-8 text-right">{{ client.createdAt.date|date("m-d-Y") }}</div>
                </div>
                <div class="row client-show__info-box__actions">
                    <div class="col-sm-12 text-right ">
                        <a href="{{ url('admin_client_update', {'id': client.id}) }}" class="btn btn-success">Редактировать</a>
                    </div>
                </div>
            {% else %}
                <br/><br/>
                <div class="alert alert-warning"><strong>Внимание!</strong> Клиент не найден</div>
            {% endif %}
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}