{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block content %}
    <h1 class="text-center">Редактировать клиента</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
{#             {{ form_errors(form) }} #}
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.info.fullname) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.info.birthday) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.info.gender) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.info.phone) }}
                    <small class="form-text text-muted">+37212345678 или 12345678</small>
                </div>
                <div class="form-group">
                    {{ form_row(form.isActive) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.info.imageTmp) }}
                    <small class="form-text text-muted">jpg/jpeg</small>
                </div>
                {% if image %}
                    <div class="form-group">
                        <img src="{{ asset('uploads/images/' ~ image) }}" style="height:300px;">
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ url('admin_сlient_show', {'id': user_id}) }}" class="btn btn-default">Отмена</a>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}