{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block content %}
    <h1 class="text-center">Клиенты</h1>
    <div class="text-right">
        <a href="{{ path('admin_client_create') }}" class="btn btn-primary">Добавить</a>
    </div>
    <br/><br/>
    {% if clients %}
        <div>
        {% for client in clients %}
            <a href="{{ url('admin_сlient_show', {'id': client.id}) }}">
                <div class="user-box">
                    {% if client.image %}
                        <div style="background-image:url({{ asset('uploads/images/' ~ client.image) }});" class="user-box__user-image">
                        </div>
                    {% else %}
                        <div class="user-box__user-image">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                    {% endif %}
                    <div class="user-box__user-name">{{ client.username }}</div>
                </div>
            </a>
        {% endfor %}
        </div>
    {% endif %}

{#     </a>
        <a href="http://google.com">
        <div class="user-box">
            <div class="user-box__user-image">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="user-box__user-name">aaaa11112224444455555666777</div>
        </div>
    </a>
 #}
{% endblock %}