{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block content %}
    <h1 class="text-center">{{ action_title }}</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
{#             {{ form_errors(form) }} #}
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.trainer) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ path('admin_groups') }}" class="btn btn-default">Отмена</a>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}