{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block content %}
    <h1 class="text-center">Группы</h1>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-right">
            <a href="{{ path('admin_group_create') }}" class="btn btn-primary">Добавить</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br/><br/>
    {% if groups %}
        {% for group in groups %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row group-show__info-box">
                        <div class="col-sm-2 text-left group-show__info-box__label">Название:</div>
                        <div class="col-sm-10 text-left">{{ group.name }}</div>
                    </div>
                    <div class="row group-show__info-box">
                        <div class="col-sm-2 text-left group-show__info-box__label">Тренер:</div>
                        <div class="col-sm-10 text-left">{{ group.trainer }}</div>
                    </div>
                    <div class="row group-show__info-box">
                        <div class="col-sm-2 text-left group-show__info-box__label">Описание:</div>
                        <div class="col-sm-10 text-left">{{ group.description }}</div>
                    </div>
                    <div class="row group-show__info-box">
                        <div class="col-sm-2 text-left group-show__info-box__label">Добавлено:</div>
                        <div class="col-sm-10 text-left">{{ group.createdAt.date|date("m-d-Y") }}</div>
                    </div>
                    <div class="row group-show__info-box">
                        <div class="col-sm-2 text-left group-show__info-box__label">Подписано:</div>
                        <div class="col-sm-10 text-left">{{ group.subscriptions|length }}</div>
                    </div>
                    <div class="row group-show__info-box__actions">
                        <div class="col-sm-12 text-right ">
                            <a href="{{ url('admin_group_update', {'id': group.id}) }}" class="btn btn-success">Редактировать</a>
                            <a href="{{ url('admin_group_delete', {'id': group.id}) }}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}