{% extends "VEVFitnessBundle:Default:layout.html.twig" %}
 
{% block title %}Admin{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin_home') }}">Fitness</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if menu_item == 'groups' %} class="active"{% endif %}><a href="{{ path('admin_groups') }}">Группы</a></li>
                    <li{% if menu_item == 'clients' %} class="active"{% endif %}><a href="{{ path('admin_clients') }}">Клиенты</a></li>
                    <li{% if menu_item == 'notify' %} class="active"{% endif %}><a href="{{ path('admin_notifications') }}">Рассылки</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('_security_logout') }}">Выход</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid content">
        {% block content %}
        <h1 class="text-center">Добро пожаловать на администраторскую страницу, {{ app.user.username }}!</h1>
        <br/><br/>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row group-show__info-box">
                    <div class="col-sm-10 text-left">Зарегистрированных клиентов:</div>
                    <div class="col-sm-2 text-right"><strong>{{ active_users_count + not_active_users_count }}</strong></div>
                </div>
                <div class="row group-show__info-box">
                    <div class="col-sm-10 text-left">Действительных клиентов:</div>
                    <div class="col-sm-2 text-right"><strong>{{ active_users_count }}</strong></div>
                </div>
                <div class="row group-show__info-box">
                    <div class="col-sm-10 text-left">Заблокированных клиентов:</div>
                    <div class="col-sm-2 text-right"><strong>{{ not_active_users_count }}</strong></div>
                </div>
                <div class="row group-show__info-box">
                    <div class="col-sm-10 text-left">Тренировочных групп:</div>
                    <div class="col-sm-2 text-right"><strong>{{ groups_count }}</strong></div>
                </div>
                <div class="row group-show__info-box">
                    <div class="col-sm-10 text-left">Подписок оформлено (действительными пользователями):</div>
                    <div class="col-sm-2 text-right"><strong>{{ subscriptions_count }}</strong></div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        {% endblock content %}
    </div>
{% endblock %}