{% extends "VEVFitnessBundle:Admin:index.html.twig" %}

{% block pagescript %}
    <script type='text/javascript' src="{{ asset('js/notification_modal.js') }}"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center">Группы с оформленными подписками</h1>
    <br/><br/>
    {% if groups %}
        {% for group in groups %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row group-show__info-box">
                        <div class="row">
                            <div class="col-sm-8 text-left">{{ group.name }} ({{ group.trainer }})</div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" 
                                data-group-id="{{ group.id }}" 
                                data-group-name="{{ group.name }}" 
                                data-toggle="modal" 
                                data-target="#notifyModal">Уведомление</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-left">{{ group.description }} ({{ group.createdAt.date|date("m-d-Y") }})</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">Подписано: <strong>{{ group.subscriptions|length }}</strong></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        {% endfor %}
        <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="notifyModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="notifyModalLabel">Отправить уведомление</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" style="display:none"></div>
                        <div class="form-group">
                            <label for="notify_email_text_modal" class="required">Текст емейла</label>
                            <textarea rows="5" cols="45" id="notify_email_text_modal" name="notify_email_text_modal" required="required" class="form-control"></textarea>
                            <small class="form-text text-muted">переменные: %email%, %fullname%, %birthday%</small>
                        </div>
                        <div class="form-group">
                           <label for="notify_sms_text_modal" class="required">Текст СМС</label>
                           <textarea rows="5" cols="45" id="notify_sms_text_modal" name="notify_sms_text_modal" required="required" class="form-control"></textarea>
                            <small class="form-text text-muted">переменные: %email%, %fullname%, %birthday%</small>
                        </div>
                        <input type="hidden" name="notify_action_url_modal" value="{{ path('admin_ajax_notification') }}">
                        <input type="hidden" name="notify_group_id_modal" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit_notify_modal" class="btn btn-success">Отправить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="text-center">не найдено</h3>
    {% endif %}
{% endblock %}

{#                                 {{ form_start(group.form, {'attr': {'action': path('client_ajax_subscribe', {'id': group.id}) }}) }}
                                    <div class="form-group">
                                        {{ form_row(group.form.type, {'attr': {'data-group-id': group.id }}) }}
                                    </div>
                                {{ form_end(group.form) }} #}