{% extends "VEVFitnessBundle:Client:index.html.twig" %}

{% block content %}
    <h1 class="text-center">Аккаунт</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row client-show__info-box">
                <div class="col-sm-12 text-right client-show__info-box__image">
                    {% if client.info.image %}
                        <img src="{{ asset('uploads/images/' ~ client.info.image) }}" style="height:300px;">
                    {% else %}
                        <span class="glyphicon glyphicon-user"></span>
                    {% endif %}
                </div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Э-почта:</div>
                <div class="col-sm-8 text-right">{{ client.email }}</div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Телефон:</div>
                <div class="col-sm-8 text-right">{{ client.info.phone }}</div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Ф.И.О.:</div>
                <div class="col-sm-8 text-right">{{ client.info.fullname }}</div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Дата рождения:</div>
                <div class="col-sm-8 text-right">{{ client.info.birthday|date("m-d-Y") }}</div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Пол:</div>
                <div class="col-sm-8 text-right">{{ client.info.gender == 'male' ? 'мужчина' : 'женщина' }}</div>
            </div>
            <div class="row client-show__info-box">
                <div class="col-sm-4 text-left client-show__info-box__label">Дата регистрации:</div>
                <div class="col-sm-8 text-right">{{ client.createdAt.date|date("m-d-Y") }}</div>
            </div>
            <div class="row account__info-box__actions">
                <div class="col-sm-6 text-left ">
                    <a href="{{ url('client_home') }}" class="btn btn-default">Обратно</a>
                </div>
                <div class="col-sm-6 text-right ">
                    <a href="{{ url('client_update_password') }}" class="btn btn-success">Изменить пароль</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}