{% extends "VEVFitnessBundle:Client:index.html.twig" %}

{% block content %}
    <h1 class="text-center">{{ title }}</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
           {% include 'VEVFitnessBundle:Client:password_form.html.twig' %}
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}