{% extends "VEVFitnessBundle:Client:index.html.twig" %}

{% block pagescript %}
    <script type='text/javascript' src="{{ asset('js/subscription.js') }}"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center">Добро пожаловать, {{ app.user.info.fullname }}!</h1>
    {% if groups %}
        <br/>
        {% for group in groups %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row group-show__info-box">
                        <div class="row">
                            <div class="col-sm-8 text-left">{{ group.name }} ({{ group.trainer }})</div>
                            <div class="col-sm-4 text-right">
                                {{ form_start(group.form, {'attr': {'action': path('client_ajax_subscribe', {'id': group.id}) }}) }}
                                    <div class="form-group">
                                        {{ form_row(group.form.type, {'attr': {'data-group-id': group.id }}) }}
                                    </div>
                                {{ form_end(group.form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-left">{{ group.description }} ({{ group.createdAt.date|date("m-d-Y") }})</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}