{% extends "VEVFitnessBundle:Default:layout.html.twig" %}
 
{% block title %}Страница клиента{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('client_home') }}">Fitness</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if menu_item == 'account' %} class="active"{% endif %}><a href="{{ path('client_account') }}">Аккаунт</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('_security_logout') }}">Выход</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid content">
        {% block content %}
        <h1 class="text-center">Добро пожаловать, {{ app.user.info.fullname }}!</h1>

{#         {% include 'VEVFitnessBundle:Client:groups.html.twig' %} #}

        {% endblock content %}
    </div>
{% endblock %}