{{ form_start(form) }}

    <div class="form-group">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.second) }}
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
{{ form_end(form) }}