.content {
    margin-bottom: 20px;
}
.content, .content .btn {
    font-size: 18px;
}

.vcenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    min-width: 200px;
}

.user-box {
    float: left;
    border-radius: 5px;
    width: 200px;

    margin: 5px;
    padding: 10px;
    background-color: #EBEBEB;
}

.user-box:hover{
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.user-box__user-image {
    width: 180px;
    height: 180px;
    border: 1px dotted #86A3AD;
    margin-bottom: 10px;
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.user-box__user-image > span.glyphicon,
.client-show__info-box__image > span.glyphicon {
    font-size: 100px;
    color: #86A3AD;
}

.user-box__user-image > span.glyphicon {
    margin-top: 35px;
}

.user-box__user-name {
    max-width: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-show__info-box,
.group-show__info-box {
    margin-top: 20px;
    border-bottom: 1px dotted #86A3AD;
}

.group-show__info-box__actions,
.client-show__info-box__actions,
.account__info-box__actions {
    margin-top: 10px;
}

.client-show__info-box__label,
.group-show__info-box__label {
    font-weight: bold;
}

.form-group label.required:after {
  content:"*";
  color:red;
}
.modal-body textarea {
    resize: none;
}