<h3>We have registered you!</h3>

<p>
Please confirm you email, go to: <a href="{{ url('confirm_email', {'token': token}) }}">
{{ url('confirm_email', {'token': token}) }}</a>.
</p>

Don't reply on this email!

{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}