{% extends "VEVFitnessBundle:Default:layout.html.twig" %}

{% block body %}

<div class="vcenter">
   <div>
    <a href="{{ path('admin_home') }}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Admin</a>
    <br/><br/>
    <a href="{{ path('client_home') }}" class="btn btn-info btn-lg active" role="button" aria-pressed="true">User</a>
    </div>
</div>

{% endblock %}
