{% extends "VEVFitnessBundle:Default:layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="text-center">Ваш почта подтверждена! Пожалуйста создайте пароль.</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            {% include 'VEVFitnessBundle:Client:password_form.html.twig' %}
            {# {{ form_errors(form) }} #}

        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}