{% extends "VEVFitnessBundle:Default:layout.html.twig" %}
 
{% block title %}
    Войти
{% endblock %}
 
{% block body %}
    <div class="vcenter">
        <div>
            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}
         
            <form action="{{ path('_security_check') }}" method="POST">
                <div class="form-group">
                    <label for="username">Логин:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input class="form-control" type="password" id="password" name="_password" />
                </div>

                <input type="submit" class="btn btn-info" name="login" value="Login">
            </form>
        </div>
    </div>
{% endblock %}